<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.announcement.schol.infoboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider292237447930360"
            android:exported="true" />

        <!--
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/actioncomment" />
        &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        &lt;!&ndash; [END fcm_default_icon] &ndash;&gt;
        &lt;!&ndash; [START fcm_default_channel] &ndash;&gt;
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name"/>
         [END fcm_default_channel]
        -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginmodule.activities.LoginActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".postmodule.activities.NewFeed"
            android:theme="@style/NoActionBar" />
        <activity android:name=".postmodule.activities.CreatePostActivity" />
        <activity
            android:name=".postmodule.activities.PostImageActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".postmodule.activities.CommentsActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".postmodule.activities.ShoutOutCommentsActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".postmodule.activities.CreateShoutout"
            android:theme="@style/NoActionBar" />

        <!--
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        &lt;!&ndash; [END firebase_service] &ndash;&gt;
        &lt;!&ndash; [START firebase_iid_service] &ndash;&gt;
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        -->

        <activity android:name=".postmodule.activities.UpdateAdminPost"></activity>
    </application>

</manifest>